################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/API.slnx/FileContentIndex/80bbe125-ef46-4604-a83d-f69ddcd338d1.vsidx
/.vs/API/FileContentIndex/fb3dac29-428f-4c91-b737-84c8f7a309a3.vsidx
/.vs/API/FileContentIndex
